<div>
    <h1>{{name}}</h1>
    <pre v-if="hasSummary">{{summary}}</pre>

    <table class="table table-hover">
        <thead>
        <tr>
            <th width="60%">方法</th>
            <th width="20%">描述</th>
            <th width="20%">测试</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(func, key) in funcs" v-on:click="test(key)">
            <td>
                <span style="color: #000"  v-on:click="toggle(key)">{{func.func}}</span>
                <div style="margin:15px 0 0 50px; color: #666">
                    <pre style="border: none" v-show="func.isShow">{{func.doc|annotation}}</pre>
                </div>
            </td>
            <td v-on:click="toggle(key)">{{func.desc}}</td>
            <td data-toggle="modal" data-target="#myModal">测试接口</td>
        </tr>
        </tbody>
    </table>

    <test-form v-bind:api="name" v-bind:params="params" v-bind:func="currentFunc"></test-form>
<!--
    <init-params v-bind:params="initParams" v-bind:on-init="onInit"></init-params>
!-->
</div>