<div>
    <div class="jumbotron">
        <h1>Hello, api</h1>
        <p>通过构造接口组件, 达到逻辑代码重用, 实现前后端代码分层, 进而实现开发者、部署分离,
            用于快速高效的实现可扩展的应用代码</p>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <h3>Features</h3>
            <ul class="method-list">
                <li>文档根据接口类注释代码动态实时生成</li>
                <li>提供接口参数测试功能</li>
                <li>多种调用(本地、远程、js)接口示例</li>
            </ul>

        </div>
        <div class="col-lg-6">
            <h3>Problem?</h3>
            <ul class="method-list">
                <li>接口返回类型，必须是php标准类型，否则无法找到原型</li>
                <li>接口列表未实现分组显示</li>
                <li>接口测试，参数为数组时无能为力</li>
            </ul>
        </div>
    </div>
</div>