<div>
    <div class="jumbotron">
        <h1>Hello, api</h1>
        <p>通过构造接口组件, 达到逻辑代码重用, 实现前后端代码分层, 进而实现开发者、部署分离,
            用于快速高效的实现可扩展的应用代码</p>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <h3>Features</h3>
            <ul class="method-list">
                <li>文档根据接口类注释代码动态实时生成</li>
                <li>提供接口参数测试功能</li>
                <li>多种调用(本地、远程、js)接口示例</li>
                <li>App front = Action + template + api(self, public, remote)?</li>
            </ul>
            <h3>Problem?</h3>
            <ul class="method-list">
                <li>接口返回类型，必须是php标准类型，否则无法找到原型</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h3>Todos</h3>
            <ul class="method-list">
                <li class="del">接口测试功能</li>
                <li>接口名称显示在列表</li>
                <li class="del">默认隐藏接口文档</li>
                <li>Web tools, 根据注解生动生成sql, models, action, views</li>
                <li>批量提交、异步提交请求</li>
                <li>Api接口自动测试</li>
                <li>消息中心，处理管理、监控</li>
                <li>单点登录</li>
                <li>授权服务</li>
                <li>图片管理服务</li>
                <li>文件管理服务</li>
                <li>app管理中心</li>
                <li>jdb\table ORM</li>
                <li>jFrame\plugs(login et.)</li>
            </ul>
        </div>
    </div>
</div>